@page "/coffee"
@page "/coffee/{Id:int}"
@inject ICoffeeService _coffeeService

<PageTitle>Coffee</PageTitle>
<h1>@_coffee.Title</h1>
<p>Ingredients: @string.Join(", ", _coffee.Ingredients)</p>
<p>@_coffee.Description</p>



@code {
    [Parameter]
    public int Id { get; set; }
    private Coffee _coffee = new();

    protected override async Task OnInitializedAsync()
    {
        var coffees = await _coffeeService.GetAllCoffeesAsync();
        _coffee = coffees.Find(x => x.Id == Id);
    }
}